@model IEnumerable<GULLEM_NEW_MVC.ViewModels.ClientInfoViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="clientInfo-in">
    <h1 id="adminGreetings">Good day Admin!</h1>

    <p>
        <a class="btn btn-success" href="/client/addclient">Create User</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UerType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MiddleName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ZipCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Birthday)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Age)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NameOfFather)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NameOfMother)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CivilStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Religion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Occupation)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserTypeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MiddleName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ZipCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Birthday)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameOfFather)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameOfMother)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CivilStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Religion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Occupation)
                    </td>
                    <td>
                        <a class="btn btn-warning Btn" asp-action="UpdateClient" asp-route-id="@item.Id">Update</a>
                        <a class="btn btn-danger Btn" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        <a class="btn btn-success Btn" asp-action="Loan" asp-route-id="@item.Id">Activities</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    var greetings = document.getElementById("adminGreetings");
    var currentHour = new Date().getHours();

    var greeting;
    if (currentHour >= 0 && currentHour < 12) {
        greeting = "Good Day Admin!";
    } else if (currentHour >= 12 && currentHour < 18) {
        greeting = "Good Afternoon Admin!";
    } else {
        greeting = "Good Evening Admin!";
    }

    greetings.style.color = "gray";

    document.getElementById("adminGreetings").innerHTML = greeting;
</script>